.aside hr {
    margin: 12px 0;
}

.aside > div:nth-child(3) {
    display: flex;
    flex-direction: row;
}

.aside > div:nth-child(3)  > *:first-child { 
    padding-right: 12px;
    border-right: 2px solid lightgray;
}

.aside > div:nth-child(3)  > *:last-child {
    padding-left: 12px;
}

.aside > div:last-child > *:not(h4) {
    padding: 8px 0;
}

.aside > div:last-child > *:not(h4):not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.aside > div:last-child > article{
    justify-content: space-between;
}

.aside > div:last-child > *:not(h4) img {
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px ;
}
